body {
    margin: 1em 2em;
    font-family: sans-serif;
}

table.game_board {
    border-collapse:collapse;
}

table.game_board td {
    border: solid black 2px;
    font-family: courier;
    font-size: 300%;
    text-align: center;
}

table.user_list {
    border-collapse:collapse;
}
table.user_list td {
    border: solid black 1px;
    padding: 2px 4px;
}

table.user_list td {
    width: 50px;
}

table.people {
    width: 30px;
}

table.people td {
    width: 30px;
}

table.people td img {
    width: 30px;
}

.people_pane {
    float: left;
    margin-right: 50px;
}

.game_pane {
    float: left;
    margin-right: 50px;
}

.score_pane {
    float: left;
}

.footer {
    clear: both;
    width: 100%;
    text-align: center;
    margin: 50px;
}

.signin_screen, .game_screen, .word_input, .game_begin {
    display: none;
}

.word_input input {
    font-size: 200%;
    width: 200px;
}

.user_list {
    /*float: right;*/
}

.canvas {
    min-width: 1000px;
}

.signin_error {
    color: red;
}
