body {
    margin: 1em 2em;
    font-family: sans-serif;
}

table.game_board {
    border-collapse:collapse;
}

table.game_board td {
    border: solid black 2px;
    font-family: courier;
    font-size: 300%;
    text-align: center;
}

table.user_list {
    border-collapse:collapse;
}
table.user_list td {
    border: solid black 1px;
    padding: 2px 4px;
}

table.user_list td{
    width: 50px;
}

.left_column {
    float: left;
    margin-right: 50px;
}

.right_column {
    float: left;
}

.footer {
    clear: both;
    width: 100%;
    text-align: center;
}

.signin_pane, .user_list_pane {
    display: none;
}

.user_list {
    /*float: right;*/
}

.canvas {
    min-width: 1000px;
}

.user_id_error {
    color: red;
}
